absl-py==0.13.0
aiohttp==3.6.2
alabaster==0.7.12
analytics-python==1.2.9
antlr4-python3-runtime==4.8
apex==0.1
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
arrow==1.1.1
ascii-graph==1.5.1
asgiref==3.3.4
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
audioread==2.1.9
Babel==2.9.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bleach==3.3.0
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1607338147605/work
boto==2.49.0
boto3==1.15.8
botocore==1.18.8
brotlipy==0.7.0
bz2file==0.98
cachetools==4.1.1
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1619778554042/work
certifi==2020.6.20
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413861439/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cmake==3.26.4
codecov==2.1.11
colorama==0.4.3
commonmark==0.9.1
conda==4.10.1
conda-build==3.21.4
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1618231394280/work
coolname==1.1.0
coverage==5.3
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851476134/work
cycler==0.10.0
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1607336136114/work
Cython==0.28.4
dataclasses-json==0.5.2
DataProperty==0.50.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.10
Django==3.2
DLLogger @ git+git://github.com/NVIDIA/dllogger.git@26a0f8f1958de2c0c460925ff6102a4d2486d6cc
docopt==0.6.2
docstring-parser==0.10
docutils==0.15.2
entrypoints==0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8==3.7.9
Flask==2.0.1
flatbuffers==2.0
fsspec==2021.7.0
future==0.18.2
gcsfs==2021.7.0
gitdb==4.0.5
GitPython==3.1.0
glob2==0.7
google-api-core==1.22.2
google-auth==1.22.0
google-auth-oauthlib==0.4.4
google-cloud==0.34.0
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1611954251609/work
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
gql==3.0.0a0
graphql-core==3.1.2
graphsurgeon @ file:///workspace/TensorRT-7.2.3.4/graphsurgeon/graphsurgeon-0.4.5-py2.py3-none-any.whl
grpcio==1.34.1
gunicorn==20.1.0
gym==0.18.3
h11==0.12.0
h5py==3.2.1
html2text==2020.1.16
httptools==0.2.0
huggingface-hub==0.15.1
humanize==3.1.0
hydra-core==1.1.0
hypothesis==4.50.8
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
importlib-resources==5.2.1
inflect==5.3.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==5.5.5
ipyparallel==6.3.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1622679232122/work
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.17.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib==1.0.1
json5==0.9.5
jsonargparse==3.17.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
jupytext==1.11.3
kiwisolver==1.3.1
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1622603311319/work/dist
librosa==0.8.0
lightning-grid==0.3.80
lightning-utilities==0.8.0
lit==16.0.5.post0
llvmlite==0.35.0
lmdb==1.2.1
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455677251/work
marshmallow==3.9.1
marshmallow-enum==1.5.1
maskrcnn-benchmark @ file:///opt/pytorch/examples/maskrcnn/pytorch
matplotlib==3.4.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
mbstrdecoder==1.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==0.8.4
mlperf-compliance==0.0.10
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1610094566888/work
more-itertools==8.5.0
mpmath==1.3.0
msgfy==0.1.0
multidict==4.7.6
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1607334246442/work
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
nltk==3.6.2
nose==1.3.7
notebook==6.2.0
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1607010260266/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1622014599281/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-dali-cuda110==1.2.0
nvidia-dlprof-pytorch-nvtx @ file:///nvidia/opt/dlprof/bin/nvidia_dlprof_pytorch_nvtx-1.2.0-py3-none-any.whl
nvidia-dlprofviewer @ file:///nvidia/opt/dlprof_viewer_install/nvidia_dlprofviewer-1.2.0-py3-none-any.whl
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.1
omegaconf==2.1.0
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
onnxruntime==1.8.0
packaging==23.1
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pathvalidate==2.4.1
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1619290361841/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.2.0
Pillow-SIMD @ file:///tmp/pillow-simd
pipreqs==0.4.10
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1611000265564/work
pluggy==0.13.1
polygraphy==0.30.2
pooch==1.4.0
pprintpp==0.4.0
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1607337627998/work
prettytable==2.1.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.7
protobuf==3.15.6
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127095720/work
ptyprocess==0.6.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycocotools @ git+https://github.com/nvidia/cocoapi.git@9a47a76980d02f70a371e12d4fad61f644a209f1#subdirectory=PythonAPI
pycodestyle==2.5.0
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094800877/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycuda==2020.1
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1614365155833/work
pyDeprecate==0.3.1
pydot==1.4.2
pyflakes==2.1.1
PyGithub==1.46
pyglet==1.5.15
Pygments==2.7.4
PyJWT==1.7.1
pynvml==8.0.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291447907/work
pytablewriter==0.47.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.0
python-dotenv==0.17.1
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytools==2021.2.7
pytorch-lightning==2.0.3
pytorch-quantization==2.1.0
pytorch-transformers==1.1.0
pytz==2020.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
regex==2021.4.4
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
revtok @ git+git://github.com/jekbradbury/revtok.git@f1998b72a941d1e5f9578a66dc1c20b01913caab
rich==10.2.2
rsa==4.5
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943339799/work
s3transfer==0.3.3
sacrebleu==1.2.10
sacremoses==0.0.35
safetensors==0.3.1
scikit-image==0.15.0
scikit-learn==0.24.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1619561901336/work
Send2Trash==1.5.0
sentencepiece==0.1.95
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six==1.15.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1601560342103/work
smmap==3.0.4
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
sox==1.4.1
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1623746168936/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1623761437728/work
Sphinx==4.0.2
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1618231649431/work
stringcase==1.2.0
subword-nmt @ git+git://github.com/rsennrich/subword-nmt.git@48ba99e657591c329e0003f0c6e32e493fa959ef
sympy==1.12
tabledata==1.1.4
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorrt @ file:///workspace/TensorRT-7.2.3.4/python/tensorrt-7.2.3.4-cp38-none-linux_x86_64.whl
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1619211944581/work
threadpoolctl==2.1.0
timm==0.9.2
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
torchmetrics==0.11.4
torchtext @ file:///opt/pytorch/text
torchvision==0.15.2
tornado==6.0.4
tqdm==4.65.0
traitlets==5.0.4
transformers==4.30.0
triton==2.0.0
typepy==1.1.5
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1609874382867/work
typing-extensions==4.6.3
typing-inspect==0.6.0
tzlocal==2.1
uff @ file:///workspace/TensorRT-7.2.3.4/uff/uff-0.6.9-py2.py3-none-any.whl
ulid-py==1.1.0
Unidecode==1.2.0
urllib3==1.25.10
uvicorn==0.14.0
uvloop==0.15.2
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1612156086016/work
watchgod==0.7
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
yacs==0.1.8
yarg==0.1.9
yarl==1.6.0
yaspin==0.17.0
zipp==3.2.0
